/target/classes/com/rdevs/springboot/app/rest/FunRestController.class
/target/classes/com/rdevs/springboot/app/SpringBootAppApplication.class
/target/classes/application.properties
/target/test-classes/com/rdevs/springboot/app/SpringBootAppApplicationTests.class
